@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers used by app */
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
